.testimonal__containe {
	background: url('../img/border1.png'), url('../img/border2.png'), url('../img/img23.jpg');
	padding: 60px 0 80px;
	background-attachment: scroll,scroll, fixed;
	background-repeat: no-repeat;
	background-size: 100%, 100%, cover;
	background-position: 0 0,0 100%;
	overflow: hidden;
}
.item__partner {
	width: auto;
	color: black;
	position:relative;
	min-height: 100px;
	img {
	    position:absolute;
	    top:0;
	    left:0;
	    width:100%;
	    height:100%;
	}
}
.gallery__wrap {
	padding-bottom: 50px;
	max-width: 400px ;
	margin: 0 auto;
	font-size: 14px;
}
.item__partner-wrap {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}
.icon-fa {
	position: absolute;
	left: 90px;
	top: 15px;
	width: 30px;
	height: 30px;
	z-index: 677;
}
.item__parhner-info {
	width: 52%;
	text-align: center;
	padding: 30px 0 0;
	//line-height: 2;
	margin: 0 auto;
	h4 {
		padding: 0 0 10px;
	}
}
.item__part-desc {
	font-size: 13px;
}
.slider-two {
	.owl-next {
		position: absolute;
		top: 120px;
		right: 140px;
	}
	.owl-prev {
		position: absolute;
		top: 120px;
		left: 140px;
	
	}
}
.gallery__carusel {
	padding-bottom: 60px;
}
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; 
}
.owl-theme .owl-nav [class*='owl-'] {
    color: #000;
    font-size: 14px;
    margin: 5px 40px;
    padding: 20px 8px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; 
    width: 45px;
    height: 45px;
    img {
    	width: 100%;
    }
}
.program__wrap {
	display: flex;
	align-items: center;
	align-self: flex-start;
	justify-content: center;
	flex-flow: row wrap;
	width: 100%;
 }
 .partners__container {
 	background-color: #fff;
 }