extends ../_template

block variables
  - var title = 'Home page'

block content
  .header__container
    include ../common/home
  include ../common/stats
  include ../common/about_me
  include ../common/gallery
  include ../common/services
  include ../common/feedback
  include ../common/footer