body {
  margin: 0;
  background-color: grey;
  font-family: "Georgia";
}
p,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}

@import 'common/header';
@import 'common/stats';
@import 'common/about';
@import 'common/gallery';