.testimonal__containe#nav3
	.program__wrap.gallery__wrap
		h2(class="program__title") Відгуки 
		p(class="program__descr") We have enough patience to teach you the art of coffee
	.gallery__carusel
		.owl-carousel.owl-theme.slider-two
			.item__partner
				.item__partner-wrap
					img(src="assets/img/self.png")
				.item__parhner-info
					h4 Alex Nikandrov
					p(class="item__part-desc") Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!
			.item__partner
				.item__partner-wrap
					img(src="assets/img/self.png")
				.item__parhner-info
					h4 Katrin Nikandrov
					p(class="item__part-desc") Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!
			.item__partner
				.item__partner-wrap
					img(src="assets/img/self.png")
				.item__parhner-info
					h4 Jon Nikandrov
					p(class="item__part-desc") Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!
			.item__partner
				.item__partner-wrap
					img(src="assets/img/self.png")
				.item__parhner-info
					h4 Mikel Nikandrov
					p(class="item__part-desc") Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!
.gallery__carusel.partners__container#nav4.animated.mov
	.program__wrap.partners__wrap
		.gallery__span.gallery__span_parner
		h2(class="program__title program__title_patner") Нам Довіряють 
		.gallery__span.gallery__span_rev.gallery__span_parner
	.partner_carusel
		.owl-carousel.owl-theme.slider-three
			.item__partner
				img(src="assets/img/part1.jpg")
			.item__partner
				img(src="assets/img/part2.jpg")
			.item__partner
				img(src="assets/img/part3.jpg")
			.item__partner
				img(src="assets/img/part4.jpg")
			.item__partner
				img(src="assets/img/part5.png")
			.item__partner
				img(src="assets/img/part6.jpg")
			.item__partner
				img(src="assets/img/part7.jpg")