.gallery_wrap
	.gallery_container
		h2(class="gallery_title") Галерея
		p(class="gallery_descr")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus nulla totam aliquam labore modi iste, porro quasi quae adipisci.
		.gallerty_items
			.gallery_item
				.gallery_item-img
					img(src="assets/img/wed1.jpg")
				.gallery_item-descr
					h4 Marina&Vova
					span 28.10.2015
					p Lorem ipsum dolor sit amet...
			.gallery_item
				.gallery_item-img
					img(src="assets/img/wed2.jpg")
				.gallery_item-descr
					h4 Marina&Vova
					span 28.10.2015
					p Lorem ipsum dolor sit amet...
			.gallery_item
				.gallery_item-img
					img(src="assets/img/wed3.jpg")
				.gallery_item-descr
					h4 Marina&Vova
					span 28.10.2015
					p Lorem ipsum dolor sit amet...
			.gallery_item
				.gallery_item-img
					img(src="assets/img/wed1.jpg")
				.gallery_item-descr
					h4 Marina&Vova
					span 28.10.2015
					p Lorem ipsum dolor sit amet...
			.gallery_item
				.gallery_item-img
					img(src="assets/img/wed2.jpg")
				.gallery_item-descr
					h4 Marina&Vova
					span 28.10.2015
					p Lorem ipsum dolor sit amet...
			.gallery_item
				.gallery_item-img
					img(src="assets/img/wed1.jpg")
				.gallery_item-descr
					h4 Marina&Vova
					span 28.10.2015
					p Lorem ipsum dolor sit amet...