header.header-wrap
		.header__logo
			.logo__wrap
				a(class="header_logo_item" href="#")
					img(src="/assets/img/facebook.png")
				a(class="header_logo_item" href="#")
					img(src="/assets/img/insta.png")
				a(class="header_logo_item" href="#")
					img(src="/assets/img/logo.png")
		nav.header__nav
			a(href="#nav1" class="header__item") Головна
			a(href="#nav2" class="header__item") Послуги
			a(href="#nav3" class="header__item") Про Мене
			a(href="#nav4" class="header__item") Галерея
			a(href="#nav5" class="header__item") Контакти
		.header__phone
			a(href="tel:30996611730" class="header__num") +38 (099) 66-11-730
.banner-wrap
	.banner_container
		.banner_descr
			p ведучий
		.banner_title
			h1 Вова Дяченко