.program-container#nav1
	.program__wrap
		h2(class="program__title") Послуги 
		p(class="program__descr") We share their experience and professional barista championships multiple winners
	.program__course
		.course__tab
			button(class="tablinks" onclick="openTab(event, 'Basic')")
				img(src="assets/img/sound.png") 
				span Корпоративи
			button(class="tablinks" onclick="openTab(event, 'Premium')") 
				img(src="assets/img/time.png") 
				span День Народження
			button(class="tablinks" onclick="openTab(event, 'Platinum')") 
				img(src="assets/img/hat.png") 
				span Випускний
			button(class="tablinks" onclick="openTab(event, 'Wedding')") 
				img(src="assets/img/stats1.png") 
				span Заручини
		#Basic.course__tabcontent.course__tab_active
			.basic__sect1-wrap
				img(src="assets/img/day.jpg")
			.basic__sect2-wrap
				h3(class="sect2__title") Корпоративи
				.basic__descr-wrap
					p Корпоратив Вашої компанії – невід’ємний момент дружньої і ефективної команди! Якщо зазвичай Ваша команда працює, то в цей день варто відпочивати на повну. Конкурси для команд, креативні ігри і заряд емоцій на подальшу роботу Вам забезпечу я – ведучий корпоративу. Від Вас лише хороший настрій, все інше беру на себе.
				a(class="registr__botton" href="#")
					.basic__registr Замовити
		#Premium.course__tabcontent
			.basic__sect1-wrap
				img(src="assets/img/day.jpg")
			.basic__sect2-wrap
				h3(class="sect2__title") День Народження
				.basic__descr-wrap
					p Корпоратив Вашої компанії – невід’ємний момент дружньої і ефективної команди! Якщо зазвичай Ваша команда працює, то в цей день варто відпочивати на повну. Конкурси для команд, креативні ігри і заряд емоцій на подальшу роботу Вам забезпечу я – ведучий корпоративу. Від Вас лише хороший настрій, все інше беру на себе.
				a(class="registr__botton" href="#")
					.basic__registr Замовити
		#Platinum.course__tabcontent
			.basic__sect1-wrap
				img(src="assets/img/day.jpg")
			.basic__sect2-wrap
				h3(class="sect2__title") Випускний	
				.basic__descr-wrap
					p Корпоратив Вашої компанії – невід’ємний момент дружньої і ефективної команди! Якщо зазвичай Ваша команда працює, то в цей день варто відпочивати на повну. Конкурси для команд, креативні ігри і заряд емоцій на подальшу роботу Вам забезпечу я – ведучий корпоративу. Від Вас лише хороший настрій, все інше беру на себе.
				a(class="registr__botton" href="#")
					.basic__registr Замовити
		#Wedding.course__tabcontent
			.basic__sect1-wrap
				img(src="assets/img/day.jpg")
			.basic__sect2-wrap
				h3(class="sect2__title") Заручини
				.basic__descr-wrap
					p Корпоратив Вашої компанії – невід’ємний момент дружньої і ефективної команди! Якщо зазвичай Ваша команда працює, то в цей день варто відпочивати на повну. Конкурси для команд, креативні ігри і заряд емоцій на подальшу роботу Вам забезпечу я – ведучий корпоративу. Від Вас лише хороший настрій, все інше беру на себе.
				a(class="registr__botton" href="#")
					.basic__registr Замовити