.stats-wrap
	.stats_items
		.stats_item
			.stats-img_wrap
				img(src="assets/img/stats1.png")
			p(class="stats-item_num") 45
			p(class="stats-item_descr") Заходів
		.stats_item
			.stats-img_wrap
				img(src="assets/img/stats2.png")
			p(class="stats-item_num") 10 000
			p(class="stats-item_descr") Задоволених гостей
		.stats_item
			.stats-img_wrap
				img(src="assets/img/stats3.png")
			p(class="stats-item_num") 5
			p(class="stats-item_descr") Років разом
		.stats_item
			.stats-img_wrap
				img(src="assets/img/list4.png")
			p(class="stats-item_num") 200
			p(class="stats-item_descr") Різних конкурсів